.pc1 {
    display: grid;
    grid-template-columns: 7fr 2fr;
    grid-column-gap: 50rem;
    grid-row-gap: 0px;
 
    }
    
    .d11 { grid-area: 1 / 1 / 2 / 2;  color: #000742;
   

 }

    .d22 { grid-area: 1 / 2 / 2 / 3; }
    .card {
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
      }
   
      
      .card:hover {
        transform: translateY(5px);
      }
      .paragraph-container {
        background-color:  #4fa18e;
        padding: 20px;
        width: 90%; 
        margin: 2rem;
      }
     
      .white-text {
        color: white;
      }
      .concard {
        display: flex;
        flex-direction: column;
        align-items: center;
       
      }
      

      .card {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
      }
   
      
      



      .card-body {
        flex: 1; /* Allow the body to expand within the card */
        overflow: hidden; /* Hide overflow content */
        transition: height 0.3s; /* Add smooth transition */
      }
      
      .expanded .card-body {
        height: auto; /* Expand the body when the card is expanded */
      }
      






      .welcome-section {
        /* background-color: #e0e8f0; */
        /* padding: 50px 0; */
        text-align: center;
        margin-top: 35px;
        position: relative;
        position: relative; /* Add position relative to the section */
        z-index: 1;
        margin-bottom: 50px; 
      }
      
      .welcome-section   .container_s1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
      }
      @keyframes pulse {
        0% {
          transform: scale(1);
        }
        50% {
          transform: scale(1.1);
        }
        100% {
          transform: scale(1);
        }
      }
      
      .welcome-section h1{
        animation: pulse 2s infinite; 
      }
      .welcome-section h1{
        font-size: 50px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      .welcome-text-container {
        flex: 1;
        font-size: 20px;
      }
      
    .welcome-section  h1 {
        font-size: 3em;
        margin-bottom: 15px;
      }
     
      
      .welcome-section   button {
        background-color: #1976d2;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .welcome-section  button:hover {
        background-color: #0067c2;
      }
      
      .welcome-section  .image-container {
        flex: 1;
        text-align: right;
        height: 50%;
      }
 
      
      .welcome-section   .border_top{
   
        width:  10%;
        position: absolute; /* Position the image absolutely */
        top: -10px; /* Align to the top of the section */
        left: 90px;
        z-index: -3;
      
      }
      .welcome-section .border_under{
        width:  10%;
        position: absolute;
        bottom: -20px;
        right: 5%;
      }
      .image-container img,
      .border {
        /* Your existing styles */
        z-index: 2; /* Set a higher z-index value */
      }
      
      section{
      /* transform: translateY(280px); */
        margin-bottom: 90px;
      }

      .pabout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 50px;
        overflow-x: hidden; /* Add this line to hide horizontal overflow */
      }
      
        
        .diva1 { grid-area: 1 / 1 / 2 / 3; }
        .diva2 { grid-area: 2 / 1 / 3 / 2; 
        
        }
        .diva3 { grid-area: 2 / 2 / 3 / 3;
      
        margin-right: 7rem;
        }


        .about-city-section{
          /* transform: translateY(200px); */
                    transform: translateY(100px);
                    

          margin-bottom: 100px;

        }
        .about-city-section img{
          width: 195vh;
      }
      .about-city-section h1{
        color: #000742;
        font-size: 3rem;
        font-family: Arial rgb(11, 13, 39);
        margin: 30px;
        font-weight: 600;

    }
    .about-city-section p{
      color: #000742;
      font-size: 1rem;
      font-family: Arial, sans-serif;
      margin: 30px;

  }
      .section1{
        background-color: #D6F8E5;
        height: 80vh;
margin-bottom: 50px;
      width: 180vh;
      margin-left: 4%;
      /* margin-right: 2%; */
        overflow-x: hidden;
        border-radius: 30px;
      }
      



      