.parent1 {
    display: grid;
    grid-column-gap: 70rem;
    grid-row-gap: 0px;
 
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div22 { grid-area: 1 / 2 / 2 / 3; }
    .card {
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
      }
   
      
      .card:hover {
        transform: translateY(5px);
      }
      .paragraph-container {
        background-color:  #4fa18e;
        padding: 20px;
        width: 90%; 
        margin: 2rem;
      }
     
      .white-text {
        color: white;
      }
      .concard {
        display: flex;
        flex-direction: column;
        align-items: center;
       
      }
      

      .card {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
      }
   
      
      



      .card-body {
        flex: 1; /* Allow the body to expand within the card */
        overflow: hidden; /* Hide overflow content */
        transition: height 0.3s; /* Add smooth transition */
      }
      
      .expanded .card-body {
        height: auto; /* Expand the body when the card is expanded */
      }
      






      .welcome-section {
        /* background-color: #e0e8f0; */
        padding: 50px 0;
        text-align: center;
    
        position: relative;
        position: relative; /* Add position relative to the section */
        z-index: 1;
        margin-bottom: 50px; 
      }
      
      .container_s1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
      }
      
      .welcome-text-container {
        flex: 1;
        font-size: 20px;
      }
      
      h1 {
        font-size: 3em;
        margin-bottom: 15px;
      }
     
      
      button {
        background-color: #1976d2;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      button:hover {
        background-color: #0067c2;
      }
      
      .image-container {
        flex: 1;
        text-align: right;
        height: 50%;
      }
 
      
      .border_top{
   
        width:  10%;
        position: absolute; /* Position the image absolutely */
        top: 40px; /* Align to the top of the section */
        left: 60px;
        z-index: -3;
      
      }
      .border_under{
        width:  10%;
        position: absolute;
        bottom: -20px;
        right: 5%;
      }
      .image-container img,
      .border {
        /* Your existing styles */
        z-index: 2; /* Set a higher z-index value */
      }
      
      section{
        margin-top: 3.9rem;
        margin-bottom: 3,5rem;
      }

      .pabout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 50px;
        overflow-x: hidden; /* Add this line to hide horizontal overflow */
      }
      
        
        .diva1 { grid-area: 1 / 1 / 2 / 3; }
        .diva2 { grid-area: 2 / 1 / 3 / 2; 
        
        }
        .diva3 { grid-area: 2 / 2 / 3 / 3;
      
        margin-right: 7rem;
        }